#register-section input {
    display: block;
    width: 20%;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
}

#register-section button {
    display: block;
    width: 30%;
    margin: 9px auto;
    padding: 10px;
    background-color: rgb(101,195,169);
    color: white;
    border: none;
    cursor: pointer;
}

#register-section a {
    color: rgb(101,195,169);
    text-decoration: none;
}

#register-section a:hover {
    text-decoration: underline;
    color: rgb(75, 150, 130);
}

#register-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

#register-section h2 {
    color: rgb(101,195,169);
    margin-bottom: 20px;
}

#register-section input {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#register-section button {
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    background-color: rgb(101,195,169);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#register-section button:hover {
    background-color: rgb(75, 150, 130);
}